[submodule "Projetos/brazucasConectados2023/brazucasconectados-main/Estudos/CursoJavascript/cursoJavascript"]
	path = Projetos/brazucasConectados2023/brazucasconectados-main/Estudos/CursoJavascript/cursoJavascript
	url = https://github.com/Arlindo-Julio-Junior/cursoJavascript.git
